@{
    ViewData["Title"] = "Home Page";
}

<h2 class="btn btn-info btn-lg yo">@Html.ActionLink("Location", "Index", "Locations")</h2>
<h2 class="btn btn-info btn-lg yo">@Html.ActionLink("Experience", "Index", "Experiences")</h2>
<h2 class="btn btn-info btn-lg yo">@Html.ActionLink("People", "Index", "People")</h2>
